# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Procedural_Cities.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\ianpo\Documents\GitHub\Procedural_Cities\.idea\.idea.Procedural_Cities\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
